/.hypothesis
/.ipynb_checkpoints
/__pycache__
/adamw.py
/data
/lightning_logs
/log.log
/prepare.sh
/base_model
/base_model_old
/base_model_qk
/notebook/*.pth
/wandb
/BeyondLUTNN
networks/__pycache__/*
operations/__pycache__/*
transforms/__pycache__/*
*.pth
*.tar.gz
*.ckpt
